@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Amarante&family=Chonburi&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

header {
    /*text-shadow: 0 0 4px black;*/
    /*background-color: white;*/
    height: 100vh;  
    display: flex;
    flex-direction: column;

}


body,ul {
    margin: 0;
}

footer {
    font-family: "Chonburi";
    margin: 10px 10px;
    color: #FAE6E1;
}

/* ID */

#accueil {
    background-image: url("../assets/img/bg-zync.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}


/*Pour les petits écrans */
@media (max-width: 1024px) {
    #accueil {
       /* background-size: contain; /* Même comportement pour les petits écrans */
        background-position: center center; /* L'image commence par le haut */
        height: auto; /* Ajuste automatiquement la hauteur */
    }

    .title {
        top: auto;
        bottom: 20px;
        left: 50%;
        transform: translateX(50%);
        transform: translateY(-230%);
    }

    .logo {
        height: 48px;
        width: auto;
    }
}


#menu {
    top: 100%;
    left: 0;
    width: 100%;
}



/* CLASS */


.title {
    grid-row: 1;
    grid-column: 1;
    font-family: 'Chonburi', sans-serif;
    font-size: 2vw;
    color: white; 
    margin-top: 150px;
}


.logo {
    margin: 30px;
    height: 5vw;
    width: auto;
}

.text {
    color: #FAE6E1;
    padding: 0 50px;
    text-align: center;
}

.menuitem ul {
    list-style: none;
    display: flex;
    justify-content: right;
    text-transform: uppercase;
    gap: 2vw; /*espace les liens*/
    margin: 0 30px;
    letter-spacing: 0.1vw; 
}

.lienMenu {
    @apply font-chonburi font-bold tracking-widest text-base lg:text-2xl text-red-400 hover:text-red-300 no-underline uppercase;
}
.lienMenu.scrolled {
    @apply text-white transition duration-1000 ease-in-out;
}

#nav.scrolled {
    @apply px-2 lg:px-4  w-full h-32 fixed top-0 flex flex-col z-50 transition duration-1000 ease-in-out bg-red-400 text-white;
}


.column {
    padding: 20px;
    width: 33.3%;
    border-width: 0px;
    @apply border-red-400;
    border-style: solid;
    border-radius: 5px;
    background-color: #0f0f0f;
    
    

}

.imgHover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    @apply rounded-md;
}
    
.imgHover:hover {
    
    -webkit-transform: scale(1);
	transform: scale(1);
}

/*      CAROUSEL        */

.carousel-image {
    @apply rounded-md h-auto block max-w-full absolute object-cover;
    transform: scale(0.75); /* Réduit la taille par défaut */
    transition: transform 0.3s ease-in-out; 
}

.carousel {
    @apply bg-cover bg-fixed w-full max-w-sm p-5 rounded-xl shadow-lg border-2;
}

.carousel-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-item.active{
    opacity: 1;
}

.carousel-item.cache{
    opacity: 0;

}



.carousel:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* CIRCLES */

.circle {
    position: absolute;
    border-radius: 50%;
    
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
    width: 600px;
    height: 600px;
    left: calc(20% - 300px); /* Centré horizontalement */
    bottom: calc(50% - 300px); /* Centré verticalement */
}

.medium {
    width: 400px;
    height: 400px;
    background: #f87171;
    left: calc(20% - 200px);
    bottom: calc(50% - 200px);
}

.large {
    width: 600px;
    height: 600px;
    left: calc(50% - 300px);
    bottom: calc(50% - 300px);
    
}

.xlarge {
    width: 800px;
    height: 800px;
    left: calc(50% - 400px);
    bottom: calc(50% - 400px);
    background: #f87171;
}

.blackqueen {
    left: calc(50% - 400px);
    bottom: calc(50% - 400px);
}

  .shade1{
    opacity: 0.03;
    background: white;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(1.0);
    }
    
    50%{
      transform: scale(0.9);
    }
    
    100%{
      transform: scale(1.0);
    }
  }