@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Amarante&family=Chonburi&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden
}

header {
    /*text-shadow: 0 0 4px black;*/
    /*background-color: white;*/
    height: 100vh;  
    display: flex;
    flex-direction: column;

}


footer {
    font-family: "Chonburi";
    margin: 10px;
    color: #FAE6E1;
}



/* ID */

#accueil {
    background-image: url("/assets/img/hero_bg_lg.webp");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
    background-position: center center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#menu {
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
}



/* CLASS */


.title {
    grid-row: 1;
    grid-column: 1;
    font-family: 'Chonburi', sans-serif;
    font-size: 2vw;
    color: white; 
    margin-top: 150px;
}


.text {
    color: #FAE6E1;
    padding: 0 50px;
    text-align: center;
}

.menuitem ul {
    list-style: none;
    display: flex;
    justify-content: right;
    text-transform: uppercase;
    gap: 2vw;
    margin: 0 30px;
    letter-spacing: 0.1vw; 
}

/* Texte superposé */

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    z-index: 2;
    pointer-events: none; 
  }

  /* Texte en haut */
.top-text{
  font-family: 'Amarante', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
  text-align: left;
  margin-left: 310px;
  margin-top: 150px;
}

/* Texte en bas */
.bottom-text {
    font-family: 'Amarante', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: right; 
    margin-right: 290px; 
    margin-bottom: 70px; 
}

@media (max-width: 768px) {
    .top-text {
      font-size: 3rem;
      margin-left: 50px;
      margin-top: 150px;
    }
  
    .bottom-text {
      font-size: 3rem;
      margin-right: 20%;
      margin-bottom: 20%;
    }
}



.lienMenu {
    @apply font-chonburi font-bold tracking-widest text-base lg:text-2xl lg:text-red-400 text-white hover:text-red-300 no-underline uppercase;
}
.lienMenu.scrolled {
    @apply text-white transition duration-1000 ease-in-out hover:text-yellow-200;
}

#nav.scrolled {
    @apply mx-2 lg:px-4  w-full h-32 fixed top-0 flex flex-col z-50 transition duration-1000 ease-in-out bg-red-400 text-white;
}


.menu-hidden {
    transform: translateX(100%); /* Menu hors de l'écran */
    opacity: 0;
}

.menu-visible {
    transform: translateX(50%); 
    opacity: 1;
}

.menu-transition {
    transition: transform 0.3s ease-in-out; /* Transition fluide */
  }

.column {
    padding: 20px;
    width: 33.3%;
    border-width: 0px;
    @apply border-red-400;
    border-style: solid;
    border-radius: 5px;
    background-color: #0f0f0f;
    
    

}

.imgHover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    @apply rounded-md;
}
    
.imgHover:hover {
    
    -webkit-transform: scale(1);
	transform: scale(1);
}

/*      CAROUSEL        */

.carousel {
    @apply bg-cover bg-center lg:max-w-96 p-4 rounded-xl  shadow-lg relative bg-fixed border-2;
}

.swiper-container {
    width: 100%;
    height: 56vh; /* Ajuste la hauteur du carousel */
    overflow: hidden;
  }
  
  .swiper-slide img {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    border-radius: 0.75rem;
  }
  
  .swiper-slide:hover img {
    transform: scale(1.1); /* Zoom sur survol */
  }
  
/* CIRCLES */

.circle {
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    animation: ondes 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
    width: 600px;
    height: 600px;
    left: calc(20% - 300px); /* Centré horizontalement */
    bottom: calc(50% - 300px); /* Centré verticalement */
}

.medium {
    width: 30vw;
    height: 30vw;
    background: #f87171;
    left: calc(50% - 15vw);
    bottom: calc(50% - 15vw);
}

.large {
    width: 40vw;
    height: 40vw;
    left: calc(50% - 20vw);
    bottom: calc(50% - 20vw);
    
}

.xlarge {
    width: 50vw;
    height: 50vw;
    left: calc(50% - 25vw);
    bottom: calc(50% - 25vw);
    background: #f87171;
}

.blackqueen {
    left: calc(50% - 400px);
    bottom: calc(50% - 400px);
}

  .shade1{
    opacity: 0.03;
    background: white;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ondes{
    0%{
      transform: scale(1.0);
    }
    
    50%{
      transform: scale(0.9);
    }
    
    100%{
      transform: scale(1.0);
    }
  }

/* FORMULAIRE */

.float-label {
    transition-property: top, font-size, line-height;
    transition-duration: 150ms;
    pointer-events: none;
    transition-timing-function: linear;
  }

/*Pour les petits écrans */
@media (max-width: 1024px) {
    #accueil {
        background-size: contain; /* Même comportement pour les petits écrans */
        background-image: url("/assets/img/hero_bg.webp");
        background-position: center center; /* L'image commence par le haut */
        height: auto; /* Ajuste automatiquement la hauteur */
    }

    .title {
        top: auto;
        bottom: 20px;
        left: 50%;
        transform: translateX(50%);
        transform: translateY(-230%);
    }

    .logo {
        height: 48px;
        width: auto;
    }
}